name: Release

on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build the application
        uses: ./.github/actions/build

      - name: Bump version and push tag
        id: tag
        uses: mathieudutour/github-tag-action@v6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            build/libs/SakuraTrue-${{ steps.tag.outputs.new_version }}.jar
          body: "# SakuraTrue ${{ steps.tag.outputs.new_version }}"